body {
    background: url(bg.webp);
    background-position: center;
    background-size: none;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 3rem;
    min-width: 30rem;
}

body html {
    box-sizing: border-box;
}

.spacer {
    margin: 1.3rem 0;
}

.card, .form-control {
    box-shadow: #00000030 0 2px 4px;
    background-color: #ffffff80;
    backdrop-filter: blur(12px);
}

.outer-card {
    width: 35rem;
    box-shadow: #00000030 0 4px 16px;
}

.btn-outline-primary {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #cfcfcf;
    --bs-btn-active-bg: #ff5858;
    --bs-btn-active-border-color: #cfcfcf;
}

.form-control:focus {
    border-color: #ff5858b1;
    box-shadow: 0 0 0 0.25rem #ff585840;
}



@media (max-width: 767px) {
    body {
        padding: 0;
        background: #f2f2f2;
        min-width: 420px;
    }

    .outer-card {
        width: 100%;
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}