body {
    background: url(bg.webp);
    background-position: center;
    background-size: none;
}

.center {
    display: grid;
    place-content: center;
    height: 100vh;
}

.spacer {
    margin: 1.3rem 0;
}

.tile-size-selector {
    width: 100%;
}

.recipent-selector {
    width: 100%;
}

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metreage-result h6,h2 {
    text-align: end;
}

.weight-result h6,h2 {
    text-align: start;
}

.card, .form-control {
    box-shadow: #00000030 0 2px 4px;
    background-color: #ffffff80;
    backdrop-filter: blur(12px);
}

.outer-card {
    width: 35rem;
    box-shadow: #00000030 0 4px 16px;
}

.btn-outline-primary {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #cfcfcf;
    --bs-btn-active-bg: #ff5858;
    --bs-btn-active-border-color: #cfcfcf;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}