.center {
    display: grid;
    place-content: center;
    height: 100vh;
}

.spacer {
    margin: 1.3rem 0;
}

.outer-card {
    width: 35rem;
}

.tile-size-selector {
    width: 100%;
}

.recipent-selector {
    width: 100%;
}

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metreage-result h6,h2 {
    text-align: end;
}

.weight-result h6,h2 {
    text-align: start;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}